
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-dot:before { content: '\e804'; } /* '' */
.icon-th:before { content: '\e805'; } /* '' */
.icon-down-micro:before { content: '\e806'; } /* '' */
.icon-left-open-1:before { content: '\e807'; } /* '' */
.icon-right-open-2:before { content: '\e808'; } /* '' */
.icon-up-micro:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */